body {
    background-color: #e9f7ef;
}

div {
    background-color: rgba(216, 156, 78, 0.842);
}

.square {
    width:700px;  
    position: fixed;
    left: 30%;
    top: 25%;
    padding: 20px;
    height:350px;
    border-radius: 80px;
}

.recipe {
    width:fit-content;  
    padding: 20px;
    margin: 30px;
    height:fit-content;
    border-radius: 80px;
}

h1, h3 {
    color:rgb(21, 64, 104);
    font-family:'Courier New', Courier, monospace
}

p, ul, li {
    color:#0e8a46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:visited {
    color: #6b6dce;
}